#HeaderPane
{
-fx-background-color: linear-gradient(to right, #233329, #2FB166);
}


#BB{
  //-fx-background-color: linear-gradient(to right, #37d5d6, #36096d);

}

#SearchButton:hover
{
  -fx-background-color: linear-gradient(to right, #3771A3, #3771A3);
}	

#P1,#P2{
 -fx-background-color: #064306;
 //-fx-background-color: linear-gradient(to right bottom, #3491AE , #332676 );
}	


#Profile{
  -fx-background-color: #ffffff;
  -fx-background-radius: 20px;
  
}

