
.table-view {

-fx-background-color: transparent;
}

.table-view .column-header-background .filler {
    -fx-background-color: transparent;
}

.table-view .corner {
    -fx-background-color: black;
}

.table-view .column-header-background{
    -fx-background-color: transparent;
   
}


